
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <link href="~/Content/CSS/buttonPro.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>

</head>
<body>
    <div id="header">
        <div class="section">
            <div class="logo">
                <a href="/HOME/">TSCD</a>
            </div>
            <ul>
                <h2>XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP</h2>
            </ul>

        </div>
        <div class="article">
            <table align="center" width="936">
                <tr align="center">
                    <td valign="top" align="center" style=" background-color: #fff; display:normal" id="THIETBI">
                        @using WEB.Models;
                        @model List<THIETBI>
                        <table align="center" border="1" width="936" style="border-color:#0094ff; border-radius: 4px; overflow:auto;">
                            <tr><h2 align="center"><b style="color:#212740;">DANH SÁCH THIẾT BỊ</b></h2></tr>
                            <tr>
                                <script>
                                        $(function()
                                        {
                                            var table=$("#THIETBI");
                                            $("#searchBoxthietbi").keyup(function()
                                            {
                                                var keyword=this.value;
                                                $("tr:gt(0)",table).each(function()
                                                {
                                                    if($(this).text().search(keyword)>-1)
                                                        $(this).show();
                                                    else
                                                        $(this).hide();
                                                });
                                            });
                                        });
                                </script> @*@Script Lọc *@
                                <div align="center">
                                    <b>Lọc</b> <input id="searchBoxthietbi" type="text" />
                                </div>
                            </tr>
                            <tr><hr /></tr>
                            <tr style="background-color:#4C8F96; color:aliceblue">
                                <td align="center">Mã</td>
                                <td align="center">Tên</td>
                                <td align="center">Đơn giá</td>
                                <td align="center">Thông số</td>
                                <td align="center">Ngày sản xuất </td>
                                <td align="center">Ngày sử dụng</td>
                                <td align="center">Ngày cập nhật </td>
                                <td align="center">Số lượng </td>
                                <td align="center">Đơn vị tính </td>
                                <td align="center">Loại</td>
                                <td align="center">Phòng quản trị</td>
                                <td align="center">Tình trạng</td>
                                <td align="center">Thao tác</td>
                            </tr>

                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">@item.mathietbi</td>
                                        <td align="center">@item.tenthietbi</td>
                                        <td align="center">@item.dongia</td>
                                        <td align="center">@item.thongsokythuat</td>
                                        <td align="center">@item.ngaysanxuat</td>
                                        <td align="center">@item.ngayduavaosudung</td>
                                        <td align="center">@item.ngaycapnhat</td>
                                        <td align="center">@item.soluong</td>
                                        <td align="center">@item.madonvitinh</td>
                                        <td align="center">@item.maloai</td>
                                        <td align="center">@item.maphongquantri</td>
                                        <td align="center">@item.matinhtrang</td>
                                        <td align="center">
                                            <a href="#" class="buttonPro small green " style="width:30px;" onclick="hidetable()">Nhập</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </table> @*Table Thiết bị*@
                    </td>
                    <td valign="top" align="center" style=" background-color: #fff; display:normal" id="NCC">
                        @Html.Action("NCCview", "NCC");
                    </td>
                </tr>
                <script>
                            function hidetable() {
                                var elem = document.getElementById("THIETBI");
                                var hide = elem.style.display == "none";
                                var elem1 = document.getElementById("NCC");
                                var hide1 = elem.style.display == "none";
                                if (hide && hide1) {
                                    elem.style.display = "table";
                                    elem1.style.display = "none";
                                }
                                else {
                                    elem.style.display = "none";
                                    elem1.style.display = "table";
                                }
                            }
                </script>
            </table>
        </div>
    </div>

    <div id="footer">
        <div>
            <div class="connect">
                <b style="color:#ffffff">NHÓM 12</b>
            </div>
            <p>
                XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP
            </p>
        </div>
    </div>
</body>
</html>
