@{
    Layout = null;
}
@using WEB.Models;
@model List<THIETBI>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/CSS/style.css" rel="stylesheet" />
    <link href="~/Content/CSS/buttonPro.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
//<![CDATA[
function Pager1(tableName1, itemsPerPage1) {
    this.tableName1 = tableName1;
    this.itemsPerPage1 = itemsPerPage1;
    this.currentPage1 = 1;
    this.pages1 = 0;
    this.init1ed1 = false;

    this.showRecords1 = function(from, to) {
        var rows = document.getElementById(tableName1).rows;
        // i starts from 1 to skip table header row
        for (var i = 1; i < rows.length; i++) {
            if (i < from || i > to)
                rows[i].style.display = 'none';
            else
                rows[i].style.display = '';
        }
    }

    this.showPage1 = function(pageNumber1) {
          if (! this.init1ed1) {
                   alert("not init1ed1");
                   return;
          }
        var oldPageAnchor1 = document.getElementById('pg'+this.currentPage1);
        oldPageAnchor1.className = 'pg-normal';

        this.currentPage1 = pageNumber1;
        var newPageAnchor1 = document.getElementById('pg'+this.currentPage1);
        newPageAnchor1.className = 'pg-selected';

        var from = (pageNumber1 - 1) * itemsPerPage1 + 1;
        var to = from + itemsPerPage1 - 1;
        this.showRecords1(from, to);
    }

    this.prev1 = function() {
        if (this.currentPage1 > 1)
            this.showPage1(this.currentPage1 - 1);
    }

    this.next1 = function() {
        if (this.currentPage1 < this.pages1) {
            this.showPage1(this.currentPage1 + 1);
        }
    }

    this.init1 = function() {
        var rows1 = document.getElementById(tableName1).rows;
        var records = (rows1.length - 1);
        this.pages1 = Math.ceil(records / itemsPerPage1);
        this.init1ed1 = true;
    }
    this.showPage1Nav = function(pagerName1, positionId1) {
          if (! this.init1ed1) {
                   alert("not inited1");
                   return;
          }
          var element = document.getElementById(positionId1);

          var pagerHtml1 = '<span onclick="' + pagerName1 + '.prev1();" class="pg-normal"> &#171 Trước </span> | ';
        for (var page = 1; page <= this.pages1; page++)
            pagerHtml1 += '<span id="pg' + page + '" class="pg-normal" onclick="' + pagerName1 + '.showPage1(' + page + ');">' + page + '</span> | ';
        pagerHtml1 += '<span onclick="'+pagerName1+'.next1();" class="pg-normal"> Sau &#187;</span>';

        element.innerHTML = pagerHtml1;
    }
}
//]]>
    </script> @*Script phân trang*@
    <script>
$(function()
{
    var table=$("#THIETBI");
    $("#searchBoxthietbi").keyup(function()
    {
        var keyword=this.value;
        $("tr:gt(0)",table).each(function()
        {
            if($(this).text().search(keyword)>-1)
                $(this).show();
            else
                $(this).hide();
        });
    });
});
    </script> @*@Script Lọc *@

</head>
<body>
    <div id="header">
        <div class="section">
            <div class="logo">
                <a href="/HOME/">TSCD</a>
            </div>
            <ul>
                <h2>XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP</h2>
            </ul>

        </div>
        <div class="article">
            <table align="center" width="936" height="500">
                <tr>
                    <td valign="top" align="center" style="border: 2px solid; background-color: #fff;">
                        <table id="THIETBI" align="center" border="1" width="936" style="border-color:#0094ff; border-radius: 4px; overflow:auto">
                            <tr><h2 align="center"><b style="color:#212740;">DANH SÁCH THIẾT BỊ</b></h2></tr>
                            <tr>
                                <div align="center">
                                    <b>Lọc</b> <input id="searchBoxthietbi" type="text" />
                                </div>
                            </tr>
                            <tr><hr /></tr>
                            <tr style="background-color:#4C8F96; color:aliceblue">
                                <td align="center">Mã</td>
                                <td align="center">Tên</td>
                                <td align="center">Đơn giá</td>
                                <td align="center">Thông số</td>
                                <td align="center">Ngày sản xuất </td>
                                <td align="center">Ngày sử dụng</td>
                                <td align="center">Ngày cập nhật </td>
                                <td align="center">Số lượng </td>
                                <td align="center">Đơn vị tính </td>
                                <td align="center">Loại</td>
                                <td align="center">Phòng quản trị</td>
                                <td align="center">Tình trạng</td>
                                <td align="center">Thao tác</td>
                            </tr>
                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td align="center">@item.mathietbi</td>
                                        <td align="center">@item.tenthietbi</td>
                                        <td align="center">@item.dongia</td>
                                        <td align="center">@item.thongsokythuat</td>
                                        <td align="center">@item.ngaysanxuat</td>
                                        <td align="center">@item.ngayduavaosudung</td>
                                        <td align="center">@item.ngaycapnhat</td>
                                        <td align="center">@item.soluong</td>
                                        <td align="center">@item.madonvitinh</td>
                                        <td align="center">@item.maloai</td>
                                        <td align="center">@item.maphongquantri</td>
                                        <td align="center">@item.matinhtrang</td>
                                        <td align="center">
                                            <a href="/NCC/NCCview" class="buttonPro small green " style="width:30px;">Nhập</a>
                                            <a href="#" class="buttonPro small red " style="width:30px;">Trả</a>
                                            <a href="/DONVI/DONVIview" class="buttonPro small blue" style="width:60px;">Xuất</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                        <div id="pageNavPosition1" align="center" style="margin-top:10px;"></div>
                        <script type="text/javascript">
                            var pager1 = new Pager1('THIETBI', 12);
                            pager1.init1();
                            pager1.showPage1Nav('pager1', 'pageNavPosition1');
                            pager1.showPage1(1);
                        </script> @*Phân trang*@
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="footer">
        <div>
            <div class="connect">
                <b style="color:#ffffff">NHÓM 12</b>
            </div>
            <p>
                XÂY DỰNG PHẦN MỀM THEO MÔ HÌNH PHÂN LỚP
            </p>
        </div>
    </div>
</body>
</html>
